html {
    height: 100%;
    width: 100%;
  }
  
  * {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EEE2DE;
    opacity: 0.8;
    overflow: hidden;
  }
  
  .clock {
    width: 370px;
    height: 370px;
    background-color: #EA906C;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
  }
  
  .clock .number {
    --rotation: 0;
    color: black;
    font-size: 34px;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    transform: rotate(var(--rotation));
  
  }
  
  .clock .number1 {
    --rotation: 30deg;
  }
  
  .clock .number2 {
    --rotation: 60deg;
  }
  
  .clock .number3 {
    --rotation: 90deg;
  }
  
  .clock .number4 {
    --rotation: 120deg;
  }
  
  .clock .number5 {
    --rotation: 150deg;
  }
  
  .clock .number6 {
    --rotation: 180deg;
  }
  
  .clock .number7 {
    --rotation: 210deg;
  }
  
  .clock .number8 {
    --rotation: 240deg;
  }
  
  .clock .number9 {
    --rotation: 270deg;
  }
  
  .clock .number10 {
    --rotation: 300deg;
  }
  
  .clock .number11 {
    --rotation: 330deg;
  }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
  }
  
  .clock .hand.second {
    width: 3px;
    height: 42%;
    background-color:#2B2A4C;
  }
  
  .clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: #B31312;
  }
  
  .clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: black;
  }